body{
    background-image: url("Messenger_creation_E6098D5E-873B-4C38-A76A-2CBA46B0266C.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    color: black ;
    font-family:fantasy;
    font-size: 100px;
}
